/* This removes the <br /> AO3 inserts before pictures */
.instCommentContainer br {
    display: none;
}

/* Resets AO3's paragraph margin */
.instCommentContainer p {
    margin: 0;
}

/* The comment container */
.instCommentContainer {
    max-width: 335px;
    margin: 0 auto;
    width: fit-content;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    border: 1px solid rgb(219, 219, 219);
    background-color: white;
}

.instCommentContainer .instSingleCommentWrapper {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    padding: 16px;
    max-width: 100%;
}

/* This keeps the hearts all aligned to the right */
.instCommentContainer .instCommentReply {
    padding-right: 0;
    padding-left: 40px;
}

.instCommentContainer .instSingleComment {
    min-height: 45px;
    display: flex;
}

/* The avatar. You can change width and height to resize, just keep them the same as the other for a circle */
.instCommentContainer .instCommentAvatar {
    min-width: 30px;
    min-height: 30px;
    border-style: solid;
    border-width: 0.1em;
    border-color: #dddddd;
    border-radius: 50%;
}

/* The content. This is name, comment, likes, and reply button */
.instCommentContainer .instCommentContent {
    margin-left: 8px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

/* The meta info about the comment. Name and days since */
.instCommentContainer .instCommentMeta {
    display: flex;
    align-items: baseline;
}

/* The user name */
.instCommentContainer .instCommentUser {
    color: #343436;
    font-weight: bold;
}

/* The days since in a lighter weight font */
.instCommentContainer .instCommentDetails {
    color: rgb(115, 115, 115);
    font-weight: 400;
}

/* Blue text for a mention */
.instCommentContainer .instCommentMention {
    color: rgb(65, 80, 247);
}

/* The like button */
.instCommentContainer .instCommentLike {
    height: 16px;
    width: 16px;
    margin: auto 0;
    flex-shrink: 0;
    margin-left: 8px;
}

/* The reply button. It's a little smaller */
.instCommentContainer .instCommentReplyText {
    font-size: 12px;
    color: rgb(115, 115, 115);
    font-weight: 600;
    margin-top: 8px;
}

/* The like count. Has some space on the right */
.instCommentContainer .instCommentLikeCount {
    margin-right: 12px;
}

.instCommentContainer .instCommentReplyToggle {
    padding-top: 8px;
    display: flex;
    align-items: center;
    margin-top: 0;
    margin-left: 40px;
}

.instCommentContainer .instCommentReplyToggleSpacer {
    width: 22px;
    margin-right: 12px;
    border-bottom-width: 1px;
    border-bottom-color: rgb(219, 219, 219);
    border-bottom-style: solid;
}